<style>

table, th, td {
    border: 1px solid black;
}
</style>

{% block page %}
{% block Column %}
<h2> Column selection: </h2><br>
Select columns from the original<br>

<input type="submit" name="submit_button" value="Create columns"><br>
{% endblock %}
<hr>
{% block Script %}
<h2> Custom script </h2><br>

<input type="submit" name="submit_button" value="Create columns"><br>
{% endblock %}
<hr>
{% block Type %}
<h2> Column types </h2><br>
Map columns to types
<table>
  <tr>
    <th>Original column name</th>
    <th>Standard column name</th>
    <th>Column type</th>
  </tr>
  {% for i in tags %}
  <tr>
  <td> {{ i }} </td>
  <td> AA </td>
  <td> string </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
<hr>

{% print tags %}


{% endblock %}

